# --- Папка сборки (самый главный мусор) ---
build/

# --- Файлы CMake ---
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# --- Скомпилированные программы (.exe) и объекты ---
*.exe
*.dll
*.obj
*.o
*.lib
*.pdb

# --- Мусор от Visual Studio ---
.vs/
*.suo
*.user